services:
  cadvisor:
    image: {{ cadvisor_image }}
    container_name: {{ cadvisor_container_name }}
    ports:
      - "{{ cadvisor_port }}:8080"
    volumes:
{% for volume in cadvisor_volumes %}
      - {{ volume }}
{% endfor %}
{% for volume in cadvisor_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% if cadvisor_devices %}
    devices:
{% for device in cadvisor_devices %}
      - {{ device }}
{% endfor %}
{% endif %}
    command:
      - '-port={{ cadvisor_port }}'
{% if cadvisor_housekeeping_interval %}
      - '-housekeeping_interval={{ cadvisor_housekeeping_interval }}'
{% endif %}
{% if cadvisor_global_housekeeping_interval %}
      - '-global_housekeeping_interval={{ cadvisor_global_housekeeping_interval }}'
{% endif %}
{% if cadvisor_max_housekeeping_interval %}
      - '-max_housekeeping_interval={{ cadvisor_max_housekeeping_interval }}'
{% endif %}
{% if cadvisor_allow_dynamic_housekeeping %}
      - '-allow_dynamic_housekeeping={{ cadvisor_allow_dynamic_housekeeping | lower }}'
{% endif %}
{% if cadvisor_docker_endpoint %}
      - '-docker={{ cadvisor_docker_endpoint }}'
{% endif %}
{% if cadvisor_storage_driver %}
      - '-storage_driver={{ cadvisor_storage_driver }}'
{% endif %}
{% if cadvisor_storage_driver_db %}
      - '-storage_driver_db={{ cadvisor_storage_driver_db }}'
{% endif %}
{% if cadvisor_storage_driver_host %}
      - '-storage_driver_host={{ cadvisor_storage_driver_host }}'
{% endif %}
{% if cadvisor_storage_driver_user %}
      - '-storage_driver_user={{ cadvisor_storage_driver_user }}'
{% endif %}
{% if cadvisor_storage_driver_password %}
      - '-storage_driver_password={{ cadvisor_storage_driver_password }}'
{% endif %}
{% if cadvisor_storage_driver_table %}
      - '-storage_driver_table={{ cadvisor_storage_driver_table }}'
{% endif %}
{% if cadvisor_storage_driver_secure %}
      - '-storage_driver_secure={{ cadvisor_storage_driver_secure | lower }}'
{% endif %}
{% if cadvisor_disable_metrics | length > 0 %}
      - '-disable_metrics={{ cadvisor_disable_metrics | join(",") }}'
{% endif %}
{% if cadvisor_enable_load_reader is defined %}
      - '-enable_load_reader={{ cadvisor_enable_load_reader | lower }}'
{% endif %}
{% if cadvisor_profiling is defined %}
      - '-profiling={{ cadvisor_profiling | lower }}'
{% endif %}
{% if cadvisor_max_procs > 0 %}
      - '-max_procs={{ cadvisor_max_procs }}'
{% endif %}
      - '-logtostderr={{ cadvisor_log_level }}'
{% if cadvisor_event_storage_age_limit %}
      - '-event_storage_age_limit={{ cadvisor_event_storage_age_limit }}'
{% endif %}
{% if cadvisor_event_storage_event_limit %}
      - '-event_storage_event_limit={{ cadvisor_event_storage_event_limit }}'
{% endif %}
{% if cadvisor_application_metrics_count_limit %}
      - '-application_metrics_count_limit={{ cadvisor_application_metrics_count_limit }}'
{% endif %}
{% if cadvisor_store_container_labels is defined %}
      - '-store_container_labels={{ cadvisor_store_container_labels | lower }}'
{% endif %}
{% if cadvisor_whitelisted_container_labels | length > 0 %}
      - '-whitelisted_container_labels={{ cadvisor_whitelisted_container_labels | join(",") }}'
{% endif %}
{% if cadvisor_raw_cgroup_prefix_whitelist | length > 0 %}
      - '-raw_cgroup_prefix_whitelist={{ cadvisor_raw_cgroup_prefix_whitelist | join(",") }}'
{% endif %}
{% if not cadvisor_ui_enabled %}
      - '-disable_root_cgroup_stats=true'
{% endif %}
    restart: {{ cadvisor_restart_policy }}
{% if cadvisor_privileged %}
    privileged: true
{% endif %}
{% if cadvisor_security_opt %}
    security_opt:
{% for opt in cadvisor_security_opt %}
      - {{ opt }}
{% endfor %}
{% endif %}
{% if cadvisor_cap_add %}
    cap_add:
{% for cap in cadvisor_cap_add %}
      - {{ cap }}
{% endfor %}
{% endif %}
{% if cadvisor_cap_drop %}
    cap_drop:
{% for cap in cadvisor_cap_drop %}
      - {{ cap }}
{% endfor %}
{% endif %}
{% if cadvisor_network_external %}
    networks:
      - {{ cadvisor_network_name }}
{% endif %}
{% if cadvisor_env_vars %}
    environment:
{% for key, value in cadvisor_env_vars.items() %}
      - {{ key }}={{ value }}
{% endfor %}
{% endif %}
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8080/healthz"]
      interval: {{ cadvisor_healthcheck_interval }}
      timeout: {{ cadvisor_healthcheck_timeout }}
      retries: {{ cadvisor_healthcheck_retries }}
      start_period: {{ cadvisor_healthcheck_start_period }}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

{% if cadvisor_network_external %}
networks:
  {{ cadvisor_network_name }}:
    external: true
{% endif %}
